{% extends "base.html" %}

{% block title %}cientes{% endblock %}

{% block page_content %}
<div class="container">
  
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ orden[0] }}</th>
        <th>{{ orden[1] }}</th>
        <th>{{ orden[2] }}</th>
        <th>{{ orden[3] }}</th>
        <th>{{ orden[4] }}</th>
      </tr>
    </thead>
    <tbody>{{ cliente }}
    {% for j in farma %}
        {% if cliente == j["CLIENTE"] %}
          <tr>
            <td>{{ j[orden[0]] }}</td>
            <td>{{ j[orden[1]] }}</td>
            <td>{{ j[orden[2]] }}</td>
            <td>{{ j[orden[3]] }}</td>
            <td>{{ j[orden[4]] }}</td>       
          </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
