{% extends "base.html" %}

{% block title %}ventas{% endblock %}

{% block page_content %}
<div class="container">
             
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Codigo</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
          
    {% for f in farma %}
          <tr>
            <td>{{ f["CLIENTE"] }}</td>
            <td>{{ f["CODIGO"] }}</td>
            <td>{{ f["PRODUCTO"] }}</td>
            <td>{{ f["CANTIDAD"] }}</td>
            <td>{{ f["PRECIO"] }}</td>
            
           
          </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
