{% extends "base.html" %}

{% block title %}ventas{% endblock %}

{% block page_content %}
<div class="container">
             
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ orden[0] }}</th>
        <th>{{ orden[1] }}</th>
        <th>{{ orden[2] }}</th>
        <th>{{ orden[3] }}</th>
        <th>{{ orden[4] }}</th>

      </tr>
    </thead>
    <tbody>
          
    {% for f in range(farma|length) %}
          <tr>
            <td>{{ farma[f][0] }}</td>
            <td>{{ farma[f][1] }}</td>
            <td>{{ farma[f][2] }}</td>
            <td>{{ farma[f][3] }}</td>
            <td>{{ farma[f][4] }}</td>
            
           
          </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
